$main-font:'Roboto', sans-serif;
$title-font: 'Shrikhand', cursive;

$main-font-size: 16px;

$white: #FFF;
$black: #OOO;
$black-2: #101010;
$grey: #353535;
$grey-2: #EAEAEA;

$primary-color: #9356DC;
$secondary-color: #FF79DA;
$highlight-color: #99E2D0;
$text-color: $black;


