@import "base/normalize";
@import "base/typography";
@import "utils/variables";
@import "utils/mixins";
@import "components/button";
@import "components/cards";
@import "base/fonts";

body {
  background-color: #F6F6F6;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;

  @media screen and (min-width: 768px) {
    padding: 0 30px;
  }

}

.header__logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  background: $white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);

  .header__back {
    @include icon_wrapper;
    display: none;
    position: absolute;
    left: 17px;
    width: 30px;
    height: 30px;
    flex-shrink: 0;

    svg {
      width: 17px;
      height: 16px;
      flex-shrink: 0;
      color: $grey;
      transition: .2s ease-in-out;
    }

    &:hover {
      cursor: pointer;

      svg {
        color: $text-color;
      }
    }
  }

  .header__name {
    flex-shrink: 0;
    padding: 0 19px 0 16px;
    color: $black-2;

  }
}

.header__location {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background-color: $grey-2;

  &-icon {
    @include icon_wrapper;
    width: 12px;
    height: 16px;
    flex-shrink: 0;

    svg {
      width: 100%;
      height: 100%;
      color: $grey;
    }
  }

  &-text {
    font-weight: 500;
    color: $grey;
  }
}

main {
  display: flex;
  flex-direction: column;
  gap: 55px;
  margin: 40px 0 65px 0;

  @media screen and (min-width: 768px) {
    gap: 30px;
    margin: 30px 0;
  }
}


.hero-banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 27px;


  &__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }

  &__title {
    padding: 0 19px;
  }

  &__subtitle {
    color: $grey;
  }
}

.functioning {
  background: $white;

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding: 48px 20px 68px;
    @media screen and (min-width: 768px) {
      padding: 50px 20px;
    }
  }

  &__steps {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
    }
  }

  &__step {
    display: flex;
    align-items: center;
    align-self: stretch;
    min-width: 335px;
    @media screen and (min-width: 768px) {
      min-width: unset;
      flex-direction: column;
      justify-content: center;
      flex: 1;
    }

    &.selected .step__content-icon svg {
      color: $primary-color;
    }

    .step__sort {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.5rem;
      height: 1.5rem;
      flex-shrink: 0;
      background-color: $primary-color;
      border-radius: 50px;
      z-index: 9999;

      span {
        color: $white;
        font-size: 0.88638rem;
        font-weight: 500;
        flex-shrink: 0;
      }
    }

    .step__content {
      display: flex;
      align-items: center;
      gap: 25px;
      padding: 20px 30px;
      margin-left: -12px;
      border-radius: 20px;
      background: #F6F6F6;
      box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.15);
      z-index: 9998;
      flex-basis: 100%;
      align-self: stretch;

      @media screen and (min-width: 768px) {
        flex-direction: column;
        margin-left: unset;
        margin-top: -12px;
        gap: 20px;
        padding: 32px 20px 20px;
      }

      &-icon {
        @include icon_wrapper;
        width: 16px;
        height: 16px;

        svg {
          width: 100%;
          height: 100%;
          color: #7E7E7E;
        }
      }

      &-text {
        color: #000;
        font-weight: 500;
        line-height: normal;
        text-align: left;

        @media (min-width: 768px) {
          text-align: center;
        }
      }

    }
  }

}

.restaurant {
  display: flex;
  flex-direction: column;
  gap: 26px;

  .cards-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 18px;

    @media screen and (min-width: 768px) {
      flex-direction: row;
      gap: 50px;
      justify-content: space-between;
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  padding: 22px 25px;
  background: $grey;
  @media screen and (min-width: 768px) {
    flex-direction: row-reverse;
    padding: 60px 30px 25px;
    gap: 60px;
  }

  .footer__logo {
    color: $white;
  }

  .footer__list {
    display: flex;
    flex-direction: column;
    gap: 7px;


    @media screen and (min-width: 768px) {
      flex-direction: row;
      gap: 10px;

      li:nth-child(2) {
        margin-right: 25px;
      }

    }

    &-item {
      display: flex;
      gap: 10px;
      align-items: center;


      .list__item-icon {
        @include icon-wrapper;
        width: 11px;
        height: 13px;
        flex-shrink: 0;

        svg {
          width: 100%;

          color: $white;
        }

        + .list__item-text a {
          display: inline-block;
          font-weight: 500;
        }
      }

      .list__item-text a {
        display: inline-block;
        line-height: normal;
        color: $white;
        text-decoration: none;
        font-weight: 400;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

