@import "./_reset.scss";
@import "./_variables.scss";
@import "./_mixins.scss";

html {
  font-size: $main-font-size;
}

body {
  font-size: $main-font-size;
  font-family: $main-font;
  background-color: #F6F6F6;
  color: $text-color;
  font-style: normal;
  line-height: normal;
}

.header__logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
  background: $white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15);

  .header__back {
    @include icon_wrapper;
    position: absolute;
    left: 17px;
    width: 30px;
    height: 30px;
    flex-shrink: 0;

    svg {
      width: 17px;
      height: 16px;
      flex-shrink: 0;
      color: $grey;
      transition: .2s ease-in-out;
    }

    &:hover {
      cursor: pointer;

      svg {
        color: $text-color;
      }
    }
  }

  .header__name {
    flex-shrink: 0;
    padding: 0 19px 0 16px;
    font-family: $title-font;
    color: $black-2;
    font-size: 1.875rem;
    font-weight: 400;
  }
}

.header__location {
  padding: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background-color: $grey-2;

  &-icon {
    @include icon_wrapper;
    width: 12px;
    height: 16px;
    flex-shrink: 0;

    svg {
      width: 100%;
      height: 100%;
      color: $grey;
    }
  }

  &-text {
    font-weight: 500;
    color: $grey;
  }
}