@import "./variables";

@mixin icon_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 100%;
    height: 100%;
  }
}

@mixin img-wrapper {
  flex-shrink: 0;
  img {
      width: 100%;
      height: 100%;
      object-fit: cover;
  }
}

// Small devices (Small tablets and large smartphones)
@mixin sm {
  @media (min-width: #{$screen-sm}) {
    @content;
  }
}

// Medium devices (Small tablets)
@mixin md {
  @media (min-width: #{$screen-md}) {
    @content;
  }
}

// Large devices (Tablets and small desktops)
@mixin lg {
  @media (min-width: #{$screen-lg}) {
    @content;
  }
}

// Extra large devices (Large tablets and desktops)
@mixin xl {
  @media (min-width: #{$screen-xl}) {
    @content;
  }
}

// Extra extra large devices (Large desktops)
@mixin xxl {
  @media (min-width: #{$screen-xxl}) {
    @content;
  }
}